<footer class="py-4 bg-">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="p-0 mb-0 ">
                    <li class="nav-item"> <a routerLink="/">Home</a></li>
                    <li class="nav-item"> <a routerLink="/about">About</a></li>
                    <li class="nav-item"> <a routerLink="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <ul class="p-0 mb-0 ">
                    <li class="nav-item"> <a routerLink="/">Home</a></li>
                    <li class="nav-item"> <a routerLink="/about">About</a></li>
                    <li class="nav-item"> <a routerLink="/contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <ul class="p-0 mb-0 ">
                    <li class="nav-item"> <a routerLink="/">Home</a></li>
                    <li class="nav-item"> <a routerLink="/about">About</a></li>
                    <li class="nav-item"> <a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
  </footer>