<section class="bg-dark text-white">
    <div class="justify-content-center d-flex">
        <nav class="py-4">
            <h1 class="">Contact</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-white"><a>Home</a></li>
                >
                <li class="breadcrumb-item active text-white" aria-current="page">
                    Contact
                </li>
            </ol>
        </nav>
    </div>
</section>

<section class="form-section mt-4" style="padding:100px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <a class="btn">918324242342</a> <br />
                    <a class="btn">demo.gmail.com</a>
                </div>

                <div>
                    <address>
                        Lorem ipsum dolor sit amet consectetur <br />
                        adipisicing elit.
                    </address>
                </div>
            </div>

            <div class="col-lg-6">
                <form action="" class="row">
                    <div class="mb-2 col-lg-6">
                        <input type="text" class="form-control" placeholder="Name" name="" id="" />
                    </div>

                    <div class="mb-2 col-lg-6">
                        <input type="email" class="form-control" placeholder="email" name="" id="" />
                    </div>

                    <div class="mb-2 col-lg-6">
                        <input type="text" class="form-control" placeholder="phone" name="" id="" />
                    </div>
                    <div class="mb-2 col-lg-6">
                        <textarea name="" id=""  class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>